<article class="hero">
  <h1 class="username">Made By User: {{user.username}}</h1>
    <h2 class="name">{{character_name}}</h2>
        <p>Class: {{character_class}}</p>
        <p>Health: {{health}}</p>
        <p>Mana: {{mana}}</p>
        <p>Strength: {{strength}}</p>
        <p>Dexterity: {{dexterity}}</p>
        <p>Intelligence: {{intelligence}}</p>
</article>