<article class="hero">
    <div class="name">
        <h2>{{character_name}}</h2>
        <ul class="stats-list">
            <li>Class: {{character_class}}</li>
            <li>HP: {{health}}</li>
            <li>MP: {{mana}}</li>
            <li>STR: {{strength}}</li>
            <li>DEX: {{dexterity}}</li>
            <li>INT: {{intelligence}}</li>
        </ul>
    </div>
</article>