<article class="hero">
    <h3 class="name">{{character_name}}</h3>
    <p>Class: {{character_class}}</p>
    <p>Health: {{health}}</p>
    <p>Mana: {{mana}}</p>
    {{!-- <p>Strength: {{strength}}</p>
    <p>Dexterity: {{dexterity}}</p>
    <p>Intelligence: {{intelligence}}</p>
    <p>Weapon: {{weapon.weapon_name}} ({{weapon.weapon_rating}})</p>
    <p>Armor: {{armor.armor_name}} ({{armor.armor_rating}})</p> --}}

    <button class="card-button trigger">View Hero</button>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2 class="name">{{character_name}}</h2>
            <p>Class: {{character_class}}</p>
            <p>Health: {{health}}</p>
            <p>Mana: {{mana}}</p>
            <p>Strength: {{strength}}</p>
            <p>Dexterity: {{dexterity}}</p>
            <p>Intelligence: {{intelligence}}</p>
            <p>Weapon: {{weapon.weapon_name}} ({{weapon.weapon_rating}})</p>
            <p>Armor: {{armor.armor_name}} ({{armor.armor_rating}})</p>
        </div>
    </div>

    <button class="card-button delete-btn">Delete Hero</button>
</article>